html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.infobar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #afb8c1;
    border-bottom: #333;
    border-bottom-style: double;
    border-bottom-width: 6px;
}

body {
    background-color: white;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

form {
    padding: 3%;
}

h2 {
    text-align: center;
    margin-top: 3%;
}

span {
    float: left;
    display: block;
}

.bodyish {
    overflow: hidden;
}

label {
    padding: 1%;
}
input {
    margin: 2%;
}
